{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Create new Program</h1>

    {{ include('/admin/program/_form.html.twig') }}

    <a href="{{ path('app_program_index') }}">back to list</a>
{% endblock %}
