{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
{% include 'home/_home_navbar.html.twig' %}

    <main>

        <h1 class="categoryBigTitle">Liste de toutes les catégories</h1>

            <section class="categoryList">

                <div class="categoryCard">
                    <ul class="categoryList">
                    {% for category in categories %}
                        <li><a href="/category/show/{{category.name}}">{{ category.name }}</a></li>
                    {% else %}
                        Aucune catégorie trouvée.
                    {% endfor %}
                    </ul>
                    <button class="btn btn-dark mt-3"><a class="text-decoration-none text-light" href="/category/new">Ajouter une catégorie</a></button>
                </div>

            </section>

    </main>

{% endblock %}
