{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>
<form method="POST">
    <label for="id">Page</label>
    <input type="text" name="id">
    <button type="submit">Go to Page</button>
</form>
{% endblock %}
