<header>

  <nav class="homeNavbar navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

      <a class="logo navbar-brand d-flex flex-column align-items-center" href="/">
        <img class="pt-lg-3" src="{{ asset('build/images/Logo/wild_series_logo.png') }}">
        <p>Wild Series</p>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse bg-dark" id="navbarNav">
        <ul class="navbar-nav mb-lg-0 text-center">
          <li class="nav-item px-lg-3">
            <a class="nav-link" href="/program/">Une série ?</a>
          </li>
          <li class="nav-item pe-lg-3">
            <a class="nav-link" href="/category/">Une catégorie ?</a>
          </li>
          <li class="nav-item pe-lg-3">
            <a class="nav-link" href="#">Un acteur ?</a>
          </li>
          <li class="nav-item pe-lg-3">
            <a class="nav-link" href="#">Contactez-nous !</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Administration</a>
          </li>
        </ul>
      </div>

    </div>

  </nav>

</header>