// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

$primary-color: #000000;
$secondary-color: #00A3E0;
$deco-color: #963A87;
$font-color : #EDEDED;

$primary-font : 'Megrim', cursive;

body {
    background-image: url('../images/Background/bg_pc.jpg');
}

/* HOME PAGE */

.homeNavbar {
    height: 120px;
    .logo {
        img {
            width: 60px;
        }
    }
}

.welcomeCard {
    background-color: rgba(237, 237, 237, 0.15);
    box-shadow: 8px 3px 10px rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    padding: 5%;
    margin-top: 150px;
    width: 70%;
    .welcomeTitle {
        text-align: center;
        color: $secondary-color;
        h1 {
            font-family: $primary-font;
            font-weight: bold;
        }
        img {
            width: 50%;
        }
    }
    .welcomeText {
        color: $font-color;
        text-align: justify;
    }
}

/* PROGRAM PAGE */

.progNavbar {
    height: 120px;
    .logo {
        img {
            width: 60px;
        }
    }
}








@media screen and (min-width: 992px) {
    /* HOME PAGE */
    .welcomeCard {
        margin-top: 100px;
        flex-direction: row;
        .welcomeTitle {
            h1 {
                margin-bottom: 20px;
            }
        }
        .welcomeText {
            width: 70%;
        }
    }  
}

@media screen and (min-width: 1200px) {
    /* HOME PAGE */
    .welcomeCard {
        max-width: 840px;
        margin-top: 200px;
    }
}