

    <section class="NewForm">

        <div>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}

        </div>

    </section>

