{% extends 'base.html.twig' %}

{% block title %}Admin - Saison{% endblock %}

{% block body %}

    {% include '/admin/layouts/_admin_navbar.html.twig' %}

    <section class="adminForm">

        <h1>Nouvelle Saison</h1>

        <div>
            <button class="btn btn-dark"><a class="text-light text-decoration-none" href="{{ path('app_season_index') }}">Retour</a></button>
        </div>

        <div class="form">

            {{ include('/admin/season/_form.html.twig') }}

        </div>

    </section>




{% endblock %}
