{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}

    {% include '/admin/layouts/_admin_navbar.html.twig' %}

   <main>
    
        <h1 class="NewFormTitle">Ajouter une Saison</h1>

        {{ include('/admin/season/_form.html.twig') }}

        <a href="{{ path('app_season_index') }}">back to list</a>

    </main>
{% endblock %}
