{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
{% include 'public/layouts/_index_navbar.html.twig' %}

    <main>

        <h1 class="categoryBigTitle">Liste de tous les acteurs</h1>

            <section class="categoryList">

                <div class="categoryCard">
                    <ul class="categoryList">
                    {% for actor in actors %}
                        <li><a href="/category/show/{{category.name}}">{{ actor.firstname ~ ' ' ~ actor.lastname }}</a></li>
                    {% else %}
                        Aucun acteur trouvé.
                    {% endfor %}
                    </ul>
                </div>

            </section>

    </main>

{% endblock %}